html
    head
        title= title
        style
            //- include atom-one-dark.css
            //- include QtcreatorDark.css
            include tomorrow.css
            include mayur-custom.css
            //- include github-markdown-min.css
            //- include github-markdown.min.css
    body
        .markdown-preview
            != contents
        //- .markdown-body